<h1>Hot Weather Widget</h1>
<section class="element">
  <div class="element-left">
    <app-hotels [hotels]="hotels | hotels:hotelType"
                [selectedHotel]="hotels | selectedHotel:hotelName:hotelType"
                (clickHotel)="setSelectedHotel($event)"
                (filterHotel)="setHotelType($event)"></app-hotels>
  </div>
  <div class="element-right">
    <app-weather [selectedHotel]="hotels | selectedHotel:hotelName:hotelType"></app-weather>
    <app-followers [selectedHotel]="hotels | selectedHotel:hotelName:hotelType"></app-followers>
  </div>
</section>
